@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
  --white: #F9F3EB;
  --black: #121214;
  --accent: #D2A26C;
  --cta-hover: #DBB58A;
  --dark: #27221E;
}
html {
  background-color: var(--black);
}
body {
  font-family: 'Outfit', sans-serif;
  background: url("../img/hero-bg.png") no-repeat top right;
}
body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.5;
}
ul {
  list-style: none;
}
h2 {
  color: var(--accent);
  font-size: 3.375rem;
}
.container {
  width: 100%;
  padding: 0 20vh;
}
.cta {
  font-weight: 700;
  background-color: var(--accent);
  padding: 0.938rem 2rem;
  border-radius: 0.313rem;
  letter-spacing: 0.063rem;

  color: var(--dark);
  text-transform: uppercase;
  font-size: 0.875rem;
}
.cta:hover {
  transition: .3s;
  background-color: var(--cta-hover);
}

/* ========== header ========== */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: var(--white);
  font-weight: 700;
}
header a img {
  margin: 3.125rem 0;
}
nav ul {
  display: flex;
  gap: 1.25rem;
}
nav ul li a, 
.about-links ul li a {
  letter-spacing: 0.031rem;
}
nav ul li a:hover {
  color: var(--accent);
  transition: .3s;
}

/* ========== hero ========== */
section.hero {
  height: calc(100vh - 20rem);
}
.hero h1 {
  color: var(--white);
  font-size: 5.063rem;
  line-height: 5.063rem;
  width: 50rem;
  margin: 6.875rem 0 2.5rem;
}

/* ========== about ========== */
section.about {
  background-color: var(--white);
}
.about h2 {
  text-align: center;
  padding: 6.25rem 0 2.5rem;
}
.about-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  margin-bottom: 3.75rem;
}
.about-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  padding-bottom: 3.75rem;
}
.about-links ul li a {
  color: var(--accent);
  font-weight: 700;
}
.about-links ul li a:hover {
  border-bottom: 0.125rem solid var(--accent);
}

/* ========== faq ========== */
.faq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 6.25rem;
}
.faq h3 {
  color: var(--accent);
  font-size: 2rem;
}
.faq-list dt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  color: var(--dark);
  background-color: #F3E6D8;
  margin: 2rem 0 .5rem;
  padding: 1.25rem;
  cursor: pointer;
}
.faq-list dd {
  margin: 0 0 0.5rem 1.875rem;
}
.js-accordion dd {
  display: none;
  width: 25vw;
}
.js-accordion dd.ativo {
  display: block;
  animation: slideDown .25s forwards;
}
.js-accordion dt::after {
  content: '⬎';
  margin-left: 0.625rem;
}
.js-accordion dt.ativo::after {
  content: '⬏';
}
@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 12.5rem;
  }
}
/* ========== imgs ========== */
section.imgs {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.imgs img {
  filter: grayscale(100%);
  cursor: pointer;
}
.imgs img:hover {
  filter: grayscale(0%);
  transition: .3s;
}

/* ========== pesquisas ========== */
.pesquisa h2 {
  text-align: center;
  margin-top: 6.25rem;
}
.pesquisa p {
  color: var(--white);
  width: 50%;
  margin: 2.5rem 0;

}
.projetos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;

  height: 19.699rem;
  margin-bottom: 6.25rem;
}
.projetos a.ativo {
  transform: scale(1.012);
}
.projetos a.andamento {
  background: url("../img/projeto-andamento.png") no-repeat top center/cover;
}
.projetos a.andamento:hover {
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.7)), url("../img/projeto-andamento.png") no-repeat top center/cover;
  transition: 0.6s;
}
.projetos a.concluido {
  background: url("../img/projeto-concluido.png") no-repeat top center/cover;
}
.projetos a.concluido:hover {
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0, .7)), url("../img/projeto-concluido.png") no-repeat top center/cover;
  transition: 0.6s;
}
.projetos a.metodologias {
  background: url("../img/metodologias.png") no-repeat top center/cover;
}
.projetos a.metodologias:hover {
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0, .7)), url("../img/metodologias.png") no-repeat top center/cover;
  transition: 0.6s;
}
.projetos p {
  margin: 0;
  position: relative;
  top: 88%;
  left: 1.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--white);
}

/* ========== conservação ========== */
.conservacao h2 {
  text-align: center;
  margin-bottom: 2.5rem;
}
.conservacao-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.75rem;
}
.conservacao-texto {
  width: 50.625rem;
}
.conservacao-texto p {
  color: var(--white);
}
.conservacao-texto a {
  color: var(--accent);
}

/* ========== Doação ========== */
.doacao {
  color: var(--white);
}
.doacao h2 {
  text-align: center;
  margin: 6.25rem 0 2.5rem;
}
.doacao h3 {
  font-size: 3.375rem;
  line-height: 1.2;
  width: 44.063rem;
}
.doacao img {
  height: 100%;
  width: 50%;
}
.doacao a {
  color: var(--accent);
}
.doacao .photo-left,
.doacao .photo-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.doacao .photo-left .doacao-texto h3 {
  margin: 0 10vh 1.25rem 0;
}
.photo-right h3 {
  margin: 0 0 1.25rem 10vh;
}
.photo-right a {
  margin-left: 10vh;
}
.apoie {
  margin: 3.75rem 0;
  display: flex;
  justify-content: center;
}
.apoie a {
  color: var(--dark);
}
/* ========== Form ========== */
.doacao .photo-left.formSection {
  justify-content: left;
  gap: 9.688rem;
}
.doacao .photo-left.formSection h3 {
  margin-bottom: 2.5rem;
}
.form input,
.form textarea,
.form button {
  display: block;
  font-weight: 400;
  width: 100%;
  outline: none;
  border: none;
}
.form input,
.form textarea{
  background-color: transparent;
  color: var(--white);
}
::-webkit-input-placeholder {
  color: rgba(249, 243, 235, 0.5);
  font-family: 'Outfit', sans-serif;
}
input:-moz-placeholder {
  color: rgba(249, 243, 235, 0.5);
  font-family: 'Outfit', sans-serif;
}
textarea:-moz-placeholder {
  color: rgba(249, 243, 235, 0.5);
  font-family: 'Outfit', sans-serif;
}
.underline::after,
.underline-txt::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.125rem;
  background: var(--white);
}
.underline::after {
  margin: 0.625rem 0 1.875rem;
}
.underline-txt::after {
  margin: -0.313rem 0 1.875rem;
}
.form button {
  font-weight: 700;
  cursor: pointer;
}


/* ========== Footer ========== */
footer {
  background-color: var(--accent);
  padding: 3.75rem 0;
}
.footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 6.25rem;
  margin-bottom: 3.75rem;
}
footer h3 {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
}
footer ul li, 
footer ul li a {
  margin-bottom: 1.25rem;
  color: var(--white);
}
.social-media ul {
  font-size: 1.5rem;
  display: flex;
  gap: 1.875rem;
}
.social-media ul li {
  background-color: var(--dark);
  border-radius: 50%;
  text-align: center;
}
.social-media ul li i {
  width: 3.438rem;
  height: 3.438rem;
  padding-top: 28%;
}
.links-uteis a:hover {
  border-bottom: 0.125rem solid var(--white);
}
footer p {
  text-align: center;
  color: var(--dark);
  opacity: .6;
}