@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
  --white: #F9F3EB;
  --black: #121214;
  --accent: #D2A26C;
  --cta-hover: #DBB58A;
  --dark: #27221E;
}
html {
  background-color: var(--black);
}
body {
  font-family: 'Outfit', sans-serif;
  background: url("../img/hero-bg.png") no-repeat top right;
}
body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  width: 100%;
  padding: 0 20vh;
}
.cta {
  font-weight: 700;
  background-color: var(--accent);
  padding: 0.938rem 2rem;
  border-radius: 0.313rem;
  letter-spacing: 0.063rem;

  color: var(--dark);
  text-transform: uppercase;
  font-size: 0.875rem;
}
.cta:hover {
  transition: .3s;
  background-color: var(--cta-hover);
}

/* ========== header ========== */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: var(--white);
  font-weight: 700;
}
header a img {
  margin: 3.125rem 0;
}
nav ul {
  display: flex;
  gap: 1.25rem;
}
nav ul li a, 
.about-links ul li a {
  letter-spacing: 0.031rem;
}
nav ul li a:hover {
  color: var(--accent);
  transition: .3s;
}

/* ========== hero ========== */
section.hero {
  height: calc(100vh - 20rem);
}
.hero h1 {
  color: var(--white);
  font-size: 5.063rem;
  line-height: 5.063rem;
  width: 50rem;
  margin: 6.875rem 0 2.5rem;
}

/* ========== about ========== */
section.about {
  background-color: var(--white);
}
.about h2 {
  text-align: center;
  color: var(--accent);
  font-size: 54px;
  padding: 100px 0 40px;
}
.about-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;
}
.about p {
  line-height: 1.5;
}
.about-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 60px;
}
.about-links ul li a {
  color: var(--accent);
  font-weight: 700;
}
.about-links ul li a:hover {
  border-bottom: 2px solid var(--accent);
}

/* ========== faq ========== */
.faq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 6.25rem;
}
.faq h3 {
  color: var(--accent);
  font-size: 2rem;
}
.faq-list dt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  color: var(--dark);
  background-color: #F3E6D8;
  margin: 2rem 0 .5rem;
  padding: 1.25rem;
  cursor: pointer;
}
.faq-list dd {
  margin: 0 0 0.5rem 1.875rem;
}
.js-accordion dd {
  display: none;
  width: 25vw;
}
.js-accordion dd.ativo {
  display: block;
  animation: slideDown .6s forwards;
}
.js-accordion dt::after {
  content: '⬎';
  margin-left: 10px;
}
.js-accordion dt.ativo::after {
  content: '⬏';
}
@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}
/* ========== imgs ========== */
section.imgs {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.imgs img {
  filter: grayscale(100%);
  cursor: pointer;
}
.imgs img:hover {
  filter: grayscale(0%);
  transition: .3s;
}