<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" href="./img/favicon.svg" type="image/x-icon">

  <title>Instituto Onça-Pintada</title>
</head>

<body class="tks">
  <div class="container">
    <h1>Obrigado por entrar em contato conosco, assim que possível iremos retornar!</h1>
    <a href="../index.html" class="cta">Voltar para Home</a>

    <h2>Assista nosso último vídeo.</h2>
    <iframe width="667" height="310" src="https://www.youtube.com/embed/y4bAZ8HQxks" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</body>

</html>